---
http_interactions:
- request:
    method: get
    uri: http://archive.org/advancedsearch.php?fl%5B%5D=creator&fl%5B%5D=date&fl%5B%5D=identifier&fl%5B%5D=language&fl%5B%5D=mediattype&fl%5B%5D=title&output=json&page=1&q=mediatype:texts%20AND%20-mediatype:collection%20AND%20(language:eng%20OR%20language:English)%20AND%20date:%5B1500-01-01%20TO%201550-12-31%5D&rows=50&sort%5B%5D=date%20asc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":51,"params":{"query":"mediatype:texts
        AND -mediatype:collection AND ( language:eng OR language:English ) AND date:[1500-01-01T00\\:00\\:00Z
        TO 1550-12-31T23\\:59\\:59Z]","qin":"mediatype:texts AND -mediatype:collection
        AND (language:eng OR language:English) AND date:[1500-01-01 TO 1550-12-31]","fields":"identifier,title,creator,date,language,mediattype","wt":"json","sort":"date
        asc","rows":"50","start":0}},"response":{"numFound":241,"start":0,"docs":[{"creator":"Savonarola,
        Hieronymus","date":"1500-01-01T00:00:00Z","identifier":"ita-bnc-in1-00000134-001","language":"English","title":"Expositio
        in Psalmum L (51) \"Miserere mei Deus\""},{"creator":"Lichtenberger, Johannes","date":"1500-01-01T00:00:00Z","identifier":"ita-bnc-in2-00001797-001","language":"English","title":"Prognosticatio"},{"creator":"Berris
        Tres Riches Heures","date":"1500-01-01T00:00:00Z","identifier":"in.ernet.dli.2015.233866","language":"eng","title":"The
        Rise Of Modern Europe(vol1)"},{"creator":"BURTON","date":"1500-01-01T00:00:00Z","identifier":"NewRichTextDocument_20170225","langu[...]
